/* reserving table entry handler  */

/* fixed wide for the form input */ 


.input-group{
    margin-top: auto;
    width: 800px;
    
}

/* layout sizing helper */ 

html,body {
    height: 100%;

}


/* flexbox to start here  */ 
/* added flex direciton column to make sure the layout will stack  */ 

body{
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer{
    margin-top: auto;
    flex-direction: column;
}
/* calender css */

ul{list-style-type: none;}




/* header that says the month will be here  */
/* month starts here done **  */

.month{
    padding: 20px 25px;
    width: 100%;
    background-color: #0F4D86;
    text-align: center;
}



/* listing month */

.month ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.month ul li {
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    
}

/* previous button marking up here  */


/* putting month label here so it will be between next and prev markouts */


.month #month-label {
    flex: 1;
    /* putting this here will create space between our buttons */

    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
}
/* next button styling here  */

.month .next{

    padding-top: 10px;
    cursor: pointer;
}

/* weekdays */

.weekdays{

    margin: 0; 
    padding: 5px 0;
    /* putting top padding here */

    background-color: #9B9898;
    
}

.month button {
    background: transparent; 
    border: none;
    color: black;
 /* had trouble making this consisted  */
    width: 2rem; height: 2rem;
   display: inline-flex; 
   align-items: center;
   /* making this readable and keeping the button on either side  */

    justify-content: center;
}



.month button:hover { 
    background: rgba(0, 0, 0, 0.116); 
    border-radius: 55px;
}


.weekdays li{
    display: inline-block;
    width:32px;
    color: black;
   
}

.days{
    padding: 1px;
    background: #9B9898;
    margin: auto;
    cursor: pointer;
   
}

.days li {


    display: inline-block;

    width: 13.6%;
    text-align: center;
    margin-bottom: 12px;
    font-size: 14px;
    color: black;
}

/* current day lighting up */ 

.days li.active{
    padding: 2px;
    margin: auto;
    background-color: #0F4D86 !important;
    color: white !important;
    border-radius: 15px;
}


.form-control{
    cursor: pointer;
}


/* video styling  */

.order-page {
    position: relative;
 overflow: hidden;
}

#bg-video {
    position: absolute;
    top: 40px; left: 0;
    width: 100%;
    height: 200px;
    object-fit: cover;
    z-index: -1;

}

.table{
    color: whitesmoke;
    letter-spacing: 50px;
    padding-top: 15px;
    font-weight: bold;
    margin-top: 100px;
}

.text-muted p{
    color: rgb(255, 255, 255);
}


.column {

    width: 35px;
    padding: 2px;

}

<<<<<<< HEAD
=======
.text-muted{
    color: wheat;
}


.column {
    float: left;
    width: 35px;
    padding: 2px;

}

>>>>>>> main
.row::after {
    content: "";
    clear: both;
    display: table;
<<<<<<< HEAD
}


.form-group{
    width: 250px;
}



.event-img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    
    box-shadow: 0 5px 20px black;
}

#container{
    margin-top: 25px;
}

=======
}
>>>>>>> main
