/* =========================================
   Sprint 1 | Semester 2 | Oct 2025
   Authors: Justin Seaward, Matt Reid, Christopher Britten
   ========================================= */

/* ===========================
   ===== Main Stylesheet =====
   =========================== */

/* imports here */

html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
} /* filling all space */
footer {
  margin-top: auto;
}

.nav-link.active,
.nav-pills .nav-link.active,
.navbar-nav .nav-link.active {
  color: aliceblue;
  background-color: #0e4a82;
  font-size: large;
}

img {
  width: 150px;
  height: 200px;
  object-fit: cover;
}

.nav-pills .nav-link:hover {
  color: aliceblue;
}

.container-sign {
  color: rgb(189, 224, 255);
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-shadow: 1px 1px #0e4a82;
}
h1 {
  font-size: 25pt;
}

h2 {
  text-shadow: 1px 1px #0e4a82;
  font-size: 20pt;
}

p {
  font-size: 15pt;
}
.container-sign p {
  margin-bottom: 50px;
  margin-top: 50px;
}

h1 img {
  width: 100px;
  height: 100px;
}

.row1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

.row1 img {
  width: 100%;
  height: 300px;
  display: block;
  border-radius: 10px;
  border: 5px double slategray;
}

.container2 {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  text-align: center;
  text-shadow: none;
  font-size: 15pt;
}

.row2 {
  padding: 20px;
}
/* Testimonial */

.test-container {
  display: grid;
  border-style: ridge;
  border-color: rgb(113, 113, 113);
  padding: 10px;
  margin-top: 20px;
  background-image: linear-gradient(to bottom, #0e4a82, black);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  max-width: fit-content;
  height: 400px;
  overflow-y: auto;
  scroll-behavior: smooth;
  margin-left: auto;
  margin-right: auto;
}

.test-container::-webkit-scrollbar {
  height: 8px;
}

.test-container::-webkit-scrollbar-thumb {
  background: rgb(81, 81, 81);
  border-radius: 4px;
}

.test-container::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.162);
}
h2 {
  text-decoration: underline;
}

h3 {
  padding-top: 20px;
  font-family: "Lucida Sans", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", Arial, sans-serif;
  font-style: oblique;
  text-shadow: 1px 1px #0e4a82;
}

.test {
  font-family: "Lucida Sans", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", Arial, sans-serif;
  flex: 0 0 350px;
  text-align: center;
  border-radius: 40px;
  background-color: rgba(0, 78, 117, 0.595);
  color: whitesmoke;
  width: 100%;
  max-width: 500px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

blockquote img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-position: left;
  margin: 20px;
}
