/* =========================================
   Sprint 1 | Semester 2 | Oct 2025
   Authors: Justin Seaward, Matt Reid, Christopher Britten
   ========================================= */

/* ===========================
   ===== Main Stylesheet =====
   =========================== */

/* imports here */

html, body{height: 100%;}
body{
   background-color: rgba(37, 30, 30, 0.459);
   display: flex;
   flex-direction: column;
}

main{flex: 1 0 auto;} /* filling all space */
footer{margin-top: auto;}


.nav-link.active,
.nav-pills .nav-link.active,
.navbar-nav .nav-link.active {
   color: aliceblue;
   background-color: #0f4d86;
   font-size: large;
}


.nav-pills .nav-link:hover{
   color: aliceblue;
}

h1 img{
   width:100px;
   height:100px;
   image-rendering:crisp-edges;
}

.row1{
   column-count: 3;
   margin-bottom: 10px;
}

.col img{
   object-fit: fill;
}

.row2{}



.row3{}

/* Testimonial */

.test-container{
   display:block;
   border-style: ridge;
   border-color: rgb(113, 113, 113);
   padding: 10px;
   margin-top: 20px;
   background-image: linear-gradient(to bottom, rgb(101, 56, 21), black);
   box-shadow: 0 4px 4px 0 #0000;
   box-shadow: 0 4px 12px rgba(0,0,0,0.3);
   width:auto;
   height: 400px;
   overflow-y: auto;
   scroll-behavior: smooth;
   margin-left: 25%;
}

.test-container::-webkit-scrollbar{
   height: 8px;
}

.test-container::-webkit-scrollbar-thumb{
   background: rgb(81, 81, 81);
   border-radius: 4px;
}

.test-container::-webkit-scrollbar-track{
   background: rgba(255, 255, 255, 0.162);
}

h3{
   padding-top: 20px;
   font-family: 'Lucida Sans','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',  Arial, sans-serif;
   font-style: oblique;
   text-shadow: 1px 1px rgba(125, 69, 0, 0.704);
}

.test{
   font-family: 'Lucida Sans','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',  Arial, sans-serif;
   flex:0 0 350px;
   text-align: center;
   border-radius: 40px;
   background-color: rgb(211, 169, 118);
   width: 100%;
   max-width: 500px;
   margin: 10px;
   padding: 10px;
   box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

blockquote img{
   width: 100px;
   height: 100px;
   border-radius: 50%;
   object-position: left;
   margin: 20px;
   
}



h1 img{
   width:100px;
   height:100px;
   image-rendering:crisp-edges;
}

.row1{
   column-count: 3;
   margin-bottom: 10px;
}

.col img{
   object-fit: fill;
}




/* Testimonial */

.test-container{
   display:block;
   border-style: ridge;
   border-color: rgb(113, 113, 113);
   padding: 10px;
   margin-top: 20px;
   background-image: linear-gradient(to bottom, rgb(101, 56, 21), black);
   box-shadow: 0 4px 4px 0 #0000;
   box-shadow: 0 4px 12px rgba(0,0,0,0.3);
   width:auto;
   height: 400px;
   overflow-y: auto;
   scroll-behavior: smooth;
   margin-left: 25%;
}

.test-container::-webkit-scrollbar{
   height: 8px;
}

.test-container::-webkit-scrollbar-thumb{
   background: rgb(81, 81, 81);
   border-radius: 4px;
}

.test-container::-webkit-scrollbar-track{
   background: rgba(255, 255, 255, 0.162);
}

h3{
   padding-top: 20px;
   font-family: 'Lucida Sans','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',  Arial, sans-serif;
   font-style: oblique;
   text-shadow: 1px 1px rgba(125, 69, 0, 0.704);
}

.test{
   font-family: 'Lucida Sans','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',  Arial, sans-serif;
   flex:0 0 350px;
   text-align: center;
   border-radius: 40px;
   background-color: rgb(211, 169, 118);
   width: 100%;
   max-width: 500px;
   margin: 10px;
   padding: 10px;
   box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

blockquote img{
   width: 100px;
   height: 100px;
   border-radius: 50%;
   object-position: left;
   margin: 20px;
   

